:root{

    --background:#ffffff;
    --surface:#ffffff;

    --text:#1f2937;
    --muted:#6b7280;

    --green:#14532d;

}

html.dark{

    --background:#0f172a;
    --surface:#111827;

    --text:#f8fafc;
    --muted:#cbd5e1;

    --green:#22c55e;

}

body{

    background:var(--background);
    color:var(--text);

}